

.game {
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-top: 30px;
  background: rgb(111,	134,	199);
  padding: 10px;
  border-radius: 5px;
}

.column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  
}

.slot {
  margin: 2px;
  border-radius: 50px;
  background-color: white;
  flex: 1 1 auto;
  margin: 0.5em;
  border: 1px solid #4a66b8;
}

.slot:hover {
  background-color: #fffefe;
}

.game.is-win .slot {
  pointer-events: none;
}

.player1 {
  background-color: rgb(191,	61,	54);
}
.player1.slot:hover {
  background-color: rgb(191,	61,	54);
}
.slot.win {
/*   border: 3px solid white; */
  animation: flip; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; 
  animation-iteration-count: 5;
}
.slot.win.player1 {
  outline: 5px solid red;
  outline-offset: -13px;
}
.slot.win.player2 {
  outline: 5px solid #6d96ab;
  outline-offset: -13px;
}
.player2 {
    background-color: #1b262c;
}
.player2.slot:hover {
    background-color: #1b262c;

}


.win-reset {
  position: absolute;
  bottom: -2rem;
  width: 620px;
}
.win-reset button {
  width: 100%;
}

.score {
  text-align: left;
  position: fixed;
  top: 1rem;
  left: 1rem;
  border: 1px solid black;
  padding: 1rem;
}

.btn-reset {
  position: absolute;
  bottom: 0;
}

select.player-select {
  width: 100%;
  font-size: 120%;
}

.current-turn {
  position: absolute;
  top: 5px;
}
